.block.aprender{
    position: relative;
    padding-top: 150px;
    background: $background2;
    .circulo{
        position: absolute;
        width: 60px;
        height: 60px;
        background: linear-gradient(90deg, #4e82e7 0%, #6039e4 48.26%, #771ee3 100%);
        top: -30px;
        left: 150px;
        border-radius: 50%;
    }
    .holder{
        max-width: 1330px;
        width: 100%;
        margin: 0 auto;
        .container-fluid{
            padding: 0 15px;
            .title{
                max-width: 551px;
                width: 100%;
                margin: 0 auto;
                font-family: "Urbane-Bold";
                font-size: 38px;
                color: $degrado2;
                display: flex;
                flex-wrap: wrap;
                p{
                    // -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	                //animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    display: block;
                    will-change: opacity, transform;
                    opacity: 0;
                    transform: translateY(100%) translateZ(0);
                    animation: 0s cubic-bezier(0.430, 0.195, 0.020, 1.000) 0s forwards line_leave;
                    &.isActive{
                        transform: translateY(-10%) translateZ(0);
                        animation: 2s cubic-bezier(0.430, 0.195, 0.020, 1.000) 0s forwards line_enter;
                    }
                    &:nth-child(1){
                        animation-delay: 0s;
                    }
                    &:nth-child(2){
                        animation-delay: 0.2s;
                    }
                    &:nth-child(3){
                        animation-delay: 0.4s;
                    }
                    &:nth-child(4){
                        animation-delay: 0.6s;
                    }
                    &:nth-child(5){
                        animation-delay: 0.8s;
                    }
                }
            }
            .logo{
                position: relative;
                max-width: 200px;
                width: 100%;
                margin: 0 auto;
                margin-top: 35px;
                img{
                    position: relative !important;
                    display: block;
                }
            }
            .text{
                margin-top: 35px;
                max-width: 636px;
                width: 100%;
                margin: 35px auto 0 auto;
                font-family: "Urbane-Light";
                font-size: 18px;
                color: $texto3;
                text-align: center;
                line-height: 28px;
                span{
                    font-family: "Urbane-DemiBold";
                    color: $degrado2;
                }
            }
            .flex-row{
                display: flex;
                justify-content: space-evenly;
                margin-top: 101px;
                position: relative;
                .tilt{
                    max-width: 25% !important;
                    width: 100% !important;
                    z-index: 2;
                    padding: 45px 20px 59px 20px !important;
                    box-shadow: 0px 10px 15px rgba(0,0,0,0.06);
                    line-height: normal !important;
                    border-radius: 16px !important;
                    .tarjeta{
                        width: 100%;
                        background: $texto4;
                        border-radius: 16px;
                        z-index: 2;
                        .icono{
                            max-width: 80px;
                            width: 100%;
                            margin: 0 auto;
                            img{
                                position: relative !important;
                                display: block;
                            }
                        }
                        .content-title{
                            text-align: center;
                            margin-top: 34px;
                            font-family: "Urbane-Bold";
                            font-size: 24px;
                            color: $degrado2;
                        }
                        .content{
                            text-align: center;
                            margin-top: 19px;
                            font-family: "Urbane-Light";
                            font-size: 13px;
                            color: $texto3;
                            height: 84px;
                            line-height: 21px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
    .block.aprender{
        padding-top: 110px;
        padding-bottom: 110px;
        .circulo{
            width: 40px;
            height: 40px;
            top: -20px;
            left: 47px;
        }
        .holder{
            padding: 0 22px;
            .container-fluid{
                padding: 0 0px;
                .title{
                    max-width: none;
                    font-size: 23px;
                    color: $degrado2;
                }
                .logo{
                    max-width: 175px;
                    margin-top: 35px;
                }
                .text{
                    max-width: none;
                    font-size: 15px;
                }
                .flex-row{
                    display: block;
                    margin-top: 60px;
                    .tilt{
                        max-width: none !important;
                        width: 100% !important;
                        padding: 25px 20px 25px 20px !important;
                        background: none !important;
                        box-shadow: none !important;
                        margin: 0 !important;
                        .tarjeta{
                            background: none;
                            .icono{
                                max-width: 60px;
                                width: 100%;
                                margin: 0 auto;
                                img{
                                    position: relative !important;
                                    display: block;
                                }
                            }
                            .content-title{
                                font-size: 22px;
                            }
                            .content{
                                font-size: 12px;
                                height: 76px;
                            }
                        }
                    }
                }
            }
        }
    }
}